/*
    Created on : 17-May-2016, 11:37:03 AM
    Author     : Ken
*/

html, body {
    height: 100%; width: 100%; margin: 0;
}

div {
    height: 100%; width: 100%;
}

#header,
#book,
#details,
#footer {
    display:inline-block;
    position:relative;
    float:left;

}
#header,
#footer {
    width:100%;
    height:60px;
    background-color:#7FFF00;
    text-align: center;
}
#header {
    margin-bottom:1%;
}
#footer {
    margin-top:1%;
}
#book {
    width:30%;
    height:50%;
    margin-right:1%;
    background-color:#00FFFF;
    text-align:center;
}

#details {
    width:69%;
    height:50%;
    background-color:#00BFFF;
}

.pic {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-height:80%;
    max-width:80%;
}

.bookTitle {
    font: 24px arial, sans-serif;
}

.headerText {
    font: 48px arial, sans-serif;
    font-weight: bold;
}

.footerText {
    font: 24px arial, sans-serif;
    font-weight: bold;
    font-style: italic;
}

.detailTitle {
    font: 18px arial, sans-serif;
    font-weight: bold;
}

.detailValue {
    font: 18px arial, sans-serif;
    font-weight:normal;
}

.panel {
    margin: auto;
}
