<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>#{msgs.pagetitle}</title>
        <h:outputStylesheet library="css" name="styles.css"/>

    </h:head>

    <h:body>
        <div id="header">
            <h:outputText value="#{msgs.header}" styleClass="headerText" />
        </div>
        <div id="book">
            <h:graphicImage library="images" name="#{bookBackingBean.inventory.image}" styleClass="pic" />
            <h:outputText value="#{bookBackingBean.inventory.title}" styleClass="bookTitle" />
        </div>
        <div id="details">
            <h:panelGrid columns="2" cellspacing="10" styleClass="panel" >
                <h:outputText value="#{msgs.isbn}" styleClass="detailTitle"/>
                <h:outputText value="#{bookBackingBean.inventory.isbn}" styleClass="detailValue"/>
                <h:outputText value="#{msgs.authors}" styleClass="detailTitle"/>
                <h:outputText value="#{bookBackingBean.inventory.authors}" styleClass="detailValue"/>
                <h:outputText value="#{msgs.dateofpublication}" styleClass="detailTitle" />
                <h:outputText value="#{bookBackingBean.inventory.dateofpublication}" styleClass="detailValue" >
                    <f:convertDateTime pattern="yyyy.MM.dd" />
                </h:outputText>
                <h:outputText value="#{msgs.pages}" styleClass="detailTitle"/>
                <h:outputText value="#{bookBackingBean.inventory.pages}" styleClass="detailValue"/>
                <h:outputText value="#{msgs.genre}" styleClass="detailTitle"/>
                <h:outputText value="#{bookBackingBean.inventory.genre}" styleClass="detailValue"/>
                <h:outputText value="#{msgs.list}" styleClass="detailTitle"/>
                <h:outputText value="#{bookBackingBean.inventory.list}" styleClass="detailValue"/>
            </h:panelGrid>
        </div>
        <div id="footer">
            <h:outputText value="#{msgs.footer}" styleClass="footerText" />
        </div>
    </h:body>
</html>

